<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta de CIAs y Fees</title>

    <!-- Incluir jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <script>
        // Función para cargar dinámicamente las Fees y Métodos cuando se selecciona una CIA
        function cargarFees() {
            var selectedCia = $("#cia").val();
            var selectedMetodo = $("#metodo option:selected").val();  
            var selectedSistema = $("#sistema option:selected").val();
            var selectedTarifas = $("#tarifas option:selected").val();  // Nueva línea para capturar las tarifas seleccionadas

            // Realizar una solicitud AJAX para obtener las Fees y Métodos correspondientes
            $.ajax({
                url: '/seleccionar_fees',
                type: 'POST',
                data: { cia: selectedCia, metodo: selectedMetodo, sistema: selectedSistema, tarifas: selectedTarifas },  // Añadir tarifas al envío de datos
                success: function (data) {
                    if (data.message) {
                        alert(data.message);
                    } else {
                        var feesSelect = $("#fee");
                        feesSelect.empty();

                        for (var i = 0; i < data.fees.length; i++) {
                            feesSelect.append('<option value="' + data.fees[i] + '">' + data.fees[i] + '</option>');
                        }
                    }
                },
                error: function (error) {
                    console.log('Error al cargar las Fees y Métodos:', error);
                }
            });
        }

        // Función para mostrar los resultados de la consulta en la misma página
        function mostrarResultados() {
            var selectedCia = $("#cia").val();
            //var selectedMetodo = $("#metodo option:selected").val();
            var selectedSistema = $("#sistema option:selected").val();
            var selectedTarifas = $("#tarifas option:selected").val();
            var selectedFee = $("#fee option:selected").val();

            // Realizar una solicitud AJAX para obtener los resultados de la consulta
            $.ajax({
                url: '/consulta_resultados',
                type: 'POST',
                data: { cia: selectedCia, sistema: selectedSistema, tarifas: selectedTarifas, fee: selectedFee },
                success: function (data) {
                    // Mostrar los resultados en la página
                    alert(data);
                    $("#resultados").html(data);
                },
                error: function (error) {
                    console.log('Error al cargar los resultados de la consulta:', error);
                }
            });
        }
    </script>
</head>
<body>
    <h1>Consulta de CIAs y Fees</h1>

    <form action="#" method="POST">
        <label for="metodo">Selecciona un Método:</label>
        <select name="metodo" id="metodo">
            <option value="FIJO">FIJO</option>
            <option value="INDEXADO">INDEXADO</option>
        </select>

        <label for="sistema">Selecciona un Sistema:</label>
        <select name="sistema" id="sistema">
            <option value="PENINSULA">PENINSULA</option>
            <option value="CANARIAS">CANARIAS</option>
            <option value="BALEARES">BALEARES</option>
        </select>

        <label for="tarifas">Selecciona una Tarifa:</label>
        <select name="tarifas" id="tarifas">
            <option value="2.0TD">2.0TD</option>
            <option value="3.0TD">3.0TD</option>
            <option value="6.1TD">6.1TD</option>
            <option value="6.2TD">6.2TD</option>
            <option value="6.3TD">6.3TD</option>
            <option value="6.4TD">6.4TD</option>
        </select>

        <label for="cia">Selecciona una CIA:</label>
        <select name="cia" id="cia" onchange="cargarFees()">
            {% for cia in cias %}
                <option value="{{ cia }}">{{ cia }}</option>
            {% endfor %}
        </select>

        <label for="fee">Selecciona una Fee:</label>
        <select name="fee" id="fee">
            {% for fee in fees %}
                <option value="{{ fee }}">{{ fee }}</option>
            {% endfor %}
        </select>

        <br>
        <button type="button" onclick="mostrarResultados()">Mostrar Resultados</button>
    </form>

    <div id="resultados"></div>
</body>
</html>

